<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Log In</h2>
                <form method="post" class="bootstrap4">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-light">Log In</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}